/* claims List */

.claimsTool{
	text-align:right;
	color:#96999d;
	font-size:1.2em;
	margin-top:23px;
}

.claimsTool .btn{
	position:relative;
	top:-10px;
	right:23px;
	display:inline-block;
	width: 74px;
}

.claimsTool i{
	color:#96999d;
	padding:10px 10px;
	cursor:pointer;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
    transition:0.5s;
}

.claimsTool i:hover{
	background:#96999d;	
	color:#fff;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
    transition:0.5s;
}

.claimsTool i.active{
	background:#96999d;	
	color:#fff;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
    transition:0.5s;
}

.claimsList{
	margin-top:25px;
	min-height:auto!important;
}

.claimsList .panel{
	border-radius:0px;
	transition:0.5s;
}

.claimsList .panel:hover{
	box-shadow:0px 0px 4px #bbb;
	-moz-box-shadow:0px 0px 4px #bbb;
	-webkit-box-shadow:0px 0px 4px #bbb;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
    transition:0.5s;
}

.claim-month{
	font-family:azosansBold;
	color:#787c82;
}

.claim-date{
	border-right:1px solid #C3C3C3;
	padding:0px 20px 0px 10px;
	margin-top:5%;
}

.claim-day{
	color:#787c82;
	font-size:2.2em;
	line-height:1em;
	font-family:azosansThin;
}

.claim-year{
	font-family:azosansBold;
	color:#787c82;
	font-weight:bolder;
}

.claimsList .col-md-6{
	padding-left:0px!important;
}

#claimlist-table .custom-table-th{
	width:11%!important;
}

#claimlist-table .custom-table-th.wideColumn{
	width:21%!important;
}

#claimlist-table.dataTable thead .sorting_asc {
    background: url("/common/images/sort_asc.png") no-repeat 90% 70%;
}

#claimlist-table.dataTable thead .sorting_desc {
    background: url("/common/images/sort_desc.png") no-repeat 90% 0;
}

#claimlist-table.dataTable thead .sorting {
    background: url("/common/images/sort-btn.png") no-repeat 90% 0;
}

.eob-btn{
	height:70px;
	padding:18px 10px 18px 20px;
	border-left:1px solid #C3C3C3;
	margin-top:5%;
}

.claim-details{
	color:#787c82;
	padding:0px 20px 0px 20px;
}

.claim-details label{
	width:100px;
	margin-top:5px;
	margin-bottom:0px;
	display:block;
}

.claim-details span{
	font-weight:normal;
	font-size:1.2em;
}

.claim-details h5{
	margin-top:15px;
}

.claim-details h4{
	color:#848484;
}

/* Modal end */


/* CLAIMS DETAILS PAGE STYLE */

.claimdetails-title{
	/*border-left:1px solid #bebec2;*/
	width:32%;
	/*padding-left:21px;*/
	margin-top:20px;
	display: inline-block;
}

.claimdetails-title span{
	color:#bebec2;
	font-family:relwaySemibold;
}

.claimdetails-title h1 span{
	color:#fff;
	font-family:opensansLight;
}

.allclaimsbtn{	
	position:relative;
	top:-20px;
	display:inline-block;
	margin-right:15px;
	cursor:pointer;
}

.claimdetails-title .pageTitle{
	margin-top:0px;
	margin-bottom:0px;
}

.claimdetails-panel{
	margin-bottom:56px;
}

.claimdetails-tools{
	margin:31px 0;
	text-align:left;
}

.claimdetails-tools i{
	margin-right:7px;
}

.claimdetails-tools a{
	color:#4ca8e5;
}

.claimdetails-panel .panel-body{
	padding:45px 39px;
}

.claim-member-details{
	position:relative;
	padding-bottom:46px;
	padding-top:46px;
	border-bottom:1px solid #e0e4e8;
	text-align:left;
	display:block;
}

.claim-member-details span{
	display:block;
	font-family:opensansSemibold;
	color:#848484;
}

.claim-amount-details{
	padding-top:50px;
	padding-bottom:59px;
	border-bottom:1px solid #e0e4e8;
	text-align:center;
}

.claim-amount-details span{
	display:block;
	font-family:opensansLight;
	font-size:2.2em;
	color:#848484;
}

.claim-member-details label, .claim-amount-details label{
	color:#bebec2;
	font-family:relwayRegular;
}

.claim-service-details{
	padding:40px 0px 0px 0px;
}

.claim-links{
	padding-bottom:46px;
	border-bottom:1px solid #e0e4e8;
	text-align:right;
}

.claim-links img{
	margin-right:5px;
}

.claim-links a{
	margin-left:41px;
}

.recent-claims{
	margin-bottom:73px;
}

.recent-claims .col-md-6{
	width:49%;
	padding-right: 0px;
	padding-left: 15px!important;
}

.recent-claims .claimsList{
	margin-top:0px;
}

.recent-claims .view-all{
	width:auto;
	margin-top:10px;
}
