/* New enrollment */

/*progressbar*/
#progressbar {
	margin-bottom: 80px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	position:relative;
	left:-30px;
}
#progressbar li {
	list-style-type: none;
	color:rgba(0,0,0,0.40);
	text-transform: uppercase;
	font-size: 14px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 30px;
	line-height: 30px;
	display: block;
	font-size: 10px;
	color: rgba(0,0,0,0.70);
	background: #E5E5E5;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #E5E5E5;
	position: absolute;
	left: -50%;
	top: 15px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after, #progressbar li.current:after{
	background: #00788B;
	color: white;
}

#progressbar li.current:before{
	background: #FFC72F;
	color: white;
}

.enroll-subhead{
	margin:0px auto;
	text-align:center;
	position:relative;
	top:30px;	
}

.enrollment-form{
	width:70%;
	margin:0 auto;
}

.enrollment-period, .enrollment-personalinfo, .enrollment-residentAddress, .enrollment-phonemail,
.enrollment-dependents, .enrollcreate-account, .broker-info, .physician-selection{
	width:90%;
	margin:0px auto;
	padding:45px 100px;
	border-bottom:1px solid rgba(0,0,0,0.10);
}

.selected-benefit-plan{
	width:90%;
	margin:0px auto;
	padding:45px 100px 0px 100px;
	border-bottom:1px solid rgba(0,0,0,0.10);
}

.enroll-divider{
	width:90%;
	margin:0px auto;
	border-bottom:1px solid rgba(0,0,0,0.10);
}

.enrollment-period .form-group{
	margin-bottom:0px;
}

.paddingright0{
	padding-right:0px;
}

.yearresize{
	padding-left:0px;
}

.enrollment-form h4{
	text-transform:uppercase;
}

.enrollment-form .col-md-7{
	padding-right:0px;
}

.benefitplan-section{
	border-bottom:1px solid rgba(0,0,0,0.10);
	padding:22px 0px;
}

.benefitplan-section:last-child{
	border-bottom:0px;	
}

.enrollment-form  .coverage-options{
	width:90%;
	margin:0px auto;
	padding:0px 100px 45px 100px;
}

.lookup-launch{
	position:relative;
	top:-3px;
	left:1px;
	text-align:center;
	width:214px;
	height:31px;
	background:#F8F8F8;
	border-bottom-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	padding:7px 5px 5px 12px;
	font-size:0.9em;
	color:#008AE6;
	display:none;
	cursor:pointer;
}

.effective-date .benefit-datepicker{
	width:250px;
}

.text-field{
	font-family:azosansBold;
	font-size:14px;
	color:rgba(0,0,0,0.70);
	line-height:20px;
	text-align:left;
	display:block;
}

.providerSearch{
	width:197px;
}

.enrollback-btn{
	position:absolute;
	cursor:pointer;
}

.three-digit{
	width:28%;
	display:inline-block;
}

.two-digit{
	width:25%;
	display:inline-block;
}

.four-digit{
	width:30%;
	display:inline-block;
}

.genderwidth{
	width:41%;
}

.enroll-submit{
	width:250px;
	margin: 20px 20px 30px 20px;
}

.enroll-submit a, .enroll-submit .btn{
	display:inline-block;
	float:left;
	width:100px;
}

.dependents-description:first-letter{
	text-transform: capitalize;
	font-weight:bold;
}

.enrollment-dependents .form-group{
	margin-bottom:0px;
}

.enrollment-dependents{
	border-bottom:0px;
}

.dependent_sec{
	position:relative;
	background:#EDEDED;
	display:none;
	margin-bottom:56px;
	padding:29px 39px;
}

.dependent-header{
	margin-bottom:5px;
}

.dependent-header .remove-dependent{
	margin-top:10px;
	margin-bottom:10px;
	cursor:pointer;
}

.dependent_details{
	margin-bottom:29px;
	border-bottom:1px solid #c3c3c3;
}

.dependent_sec .add-dependent .btn{
	margin:0 auto;	
}

.textfield{
	width:160px;
	display:inline-block;
}

.inline-select{
	min-width: 270px;
    display: inline-block;
	position:relative;
	top:5px;
}

.inline-select label{
	display:block;
}

.inline-select .SumoSelect{
	margin-right:5px;
}

.inline-select .dependent-month{
	width:90px;
	display:inline-block;
}

.inline-select .dependent-date{
	width:60px;
	display:inline-block;
}

.inline-select .dependent-year{
	width:90px;
	display:inline-block;
}

.inline-select .dependent-relationship{
	width:112px;
	display:inline-block;
	margin-right:5px;
}

.inline-select .dependent-gender{
	width:110px;
	display:inline-block;
	margin-right:5px;
}

.inline-select .dependent-idnums{
	width:178px;
	display:inline-block;
}

/* mailing address section */

.mailing-address{
	display:none;
}

.mailing-address.active{
	display:block;
}

/* Benefits selection screen */

.benefit-form .panel-body{
	padding:0px;
	position:relative;
}

.benefits-list{
	padding:37px 40px 0px 40px;
}

.coverage-options{
	padding:0px 40px 37px 40px;
}

.benefit-description{
	text-align:center;
	width:70%;
	margin:28px auto;
	position:relative;
	bottom:18px;
}

.benefits-list .benefits-list-head{
	font-family:azosansBold;
	font-size:12px;
	color:rgba(0,0,0,0.45);
	line-height:15px;
	text-align:left;
	font-weight:normal;
	border-top:0px!important;
}

.benefits-list .row{
	padding:15px 0px!important;
	border-bottom:1px solid #ddd;
}

.benefits-list .col-md-1{
	width:6.333333%!important;
}

.benefits-list .row .col-md-2:nth-child(2){
	width:20.666667%;
}

.benefits-list .benefit-datepicker img{
	top:4px;
}

.benefit-selectbox{
	position:relative;
	top:10px;
	left:5px;
}

.policy-benefits{
	font-weight:bold;
}

.benefit-datepicker{
	border:1px solid rgba(0,0,0,0.20);
	padding:11px 10px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	width:150px;
	position:relative;
}

.benefit-datepicker img{
	left: -5px;
    top: 2px;
}

.benefit-datepicker input{
	margin-left: 26px;
	border:0px!important;
	background:transparent!important;
	width:60%;
}

.benefit-datepicker .datepicker:focus{
	border:0px!important;	
}

.benefit-datepicker.disabled, .SumoSelect.disabled{
	pointer-events:none;
	background:#E6E9EB;
	opacity:0.5;
}

.SumoSelect.disabled .SlectBox{
	background:#E6E9EB;
}

.benefit-providerName{
	width:200px;
}

.additional-coverage-sec{
	margin:40px 0px 0px 0px;
}

.additional-coverage-sec .form-group{
	margin-bottom:0px;
}

.additional-coverage-sec h3{
	text-transform:uppercase;
	font-size:14px!important;
}

.benefit-controls{
	position:relative;
	margin:0px 40px 37px 40px;
	padding-top:35px;
	border-top:1px solid #ddd;
}

.benefit-controls .btn{
	display:inline-block!important;
	width:auto;
	min-width:100px;
	margin:0px 5px 0px 0px!important;
}

.dependents-section{
	background:#E6E9EB;
	margin:16px 0px;
	padding:21px 21px;
	display:none;
}

.dependents-section .form-group{
	margin-bottom:0px;
}

.dependents-section .form-group label{
	padding-left:50px;
	font-family:azosansBold!important;
	font-size:14px!important;
}

.coverage-section{
	background:#EDEDED;
	width:100%;
	padding:20px 40px;
	margin-bottom:40px;
	display:none;
}

.coverage-header .remove-coverage{
	margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.coverage-details{
	padding-bottom:30px;
	border-bottom:1px solid #ddd;
}

.coverage-details .benefit-datepicker{
	width:125px;
	background:#ffffff;
}

.coverage-details .form-group{
	margin-bottom:15px;
}

.coverage-details .benefit-datepicker input{
	width: 74%;
}

.coverage-date label{
	width:65px;
}

.add-coverage{
	margin-top:32px;
}

.add-coverage .btn{
	margin:0 auto;
}

.enrollcreate-account{
	border:0px;
}

.account-preferences h3{
	text-transform:uppercase;
}

.account-preferences .form-group{
	margin-bottom:0px;
}

.account-preferences label{
	width:90%;
	font-size:14px!important;
}

.account-preferences .form-group{
	position:relative;
	border-bottom:1px solid rgba(0,0,0,0.20);
	margin-top:15px;
	padding-bottom:10px;
}

.account-preferences .form-group:last-child{
	border-bottom:0px;
}

.checkbox-group input[type="checkbox"]{
	position:absolute;
	right:0px;
}

.checkbox-group{
	position:absolute;
	right:0px;
	top:0px;
	width:0px;
}

/* Review screen style */

.enrollreview-description{
	text-align:center;
	margin-bottom:50px;
}

.review-form{
	width: 95%;
    margin: 0 auto;
}

.review-form .panel{
	margin-bottom:10px;
}

.review-form .panel-body{
	padding:0px;
}

.review-form .panel-body h3{
	margin:35px 35px 0px -15px;
}

.review-form .panel-body a{
	margin:35px 35px 0px -15px;
}

.review-section{
	border-bottom:1px solid #eee;
	padding:15px 60px 40px 60px;
}

.review-section h4{
	text-transform:uppercase;
}

.review-section p{
	margin:0px;
}

.review-section .row{
	padding-bottom:10px;
	margin-bottom:10px;
}

.review-section .row:last-child{
	border:0px;
}

.review-form .benefit-controls{
	border:0px;
}

.selectedPlan{
	text-align:left;
}

.selectedPlan.review-section{
	padding-bottom:20px;
}

.selectedPlan a{
	margin-left:0px!important;
}

.width21{
	width:21%;
}

.width20{
	width:20%;
}

.premium-table{
	float:right;
}

.premium-table label{
	width:150px;
}

.premium-table .text-field{
	display:inline-block;
	width:200px;
}

.premium-table .text-field a{
	margin-left:0px;	
}

.premium-table .total-section{
	padding-top:15px;
	border-top:2px solid rgba(0,0,0,0.20);
}

/* Enroll Submitted */

.enroll-submitted .panel-body{
	padding:34px 34px;
	position:relative;
}

.enroll-submitted .login-section{
	text-align:center;
	padding:0px 54px;
}

.enroll-submitted .printcard-section{
	text-align:center;
	padding:0px 54px;
}

.login-section h4, .printcard-section h4{
	margin-top:30px;
	text-transform:uppercase;
}

.vertical-divider{
    position:absolute;
    left:50%;
    top:20%;
    bottom:20%;
    border-left:1px solid rgba(0,0,0,0.10);
}

.login-section p, .printcard-section p{
	color:rgba(0,0,0,0.50);	
	font-weight:bold;
	margin-top:25px;
	min-height:100px;
}

.enroll-submitted .btn-wrap{
	width:200px;
	margin:0 auto;
}

.printId{
	display:block;
	float:right;
}	

.id-container{
	display:block;
	margin-top:20px;
}

.id-container img{
	width:100%;
}

a.add-dependent{
	color:#4CA8E5;
}

.brokerlookup-modal, .brokerResult-modal{
	width: 438px;
}